
body {
    margin: 0;
}





table, th, td {
    border: 1px solid black;
    text-align: center;
}
table {
    width:100%;
}

ul {
    padding: 5px;
}

a {

    text-decoration: none;
    color: blue;
}

li {
    line-height: 2.5; /* Межстрочное расстояние */
   }

li {
    list-style-type: none;
    text-align: center;

}

h1 {
    position: ;
    text-align: center ;
}

.wrapper {
    text-align: left;
}

/*
li {
    display: inline-block;
}*/




